.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.search {
    width: 300px; 
    padding: 50px;
    font-size: 20px; 
}
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 260vh;
}
.pokemon-list, .pokemon-details {
    width: 60%;
    max-width: 500px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}
.pokemon-list {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.pokemon-details {
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

.pokemon-list h3, .pokemon-details h3 {
    text-align: center;
}

.clickable {
    cursor: pointer;
}
.clickable:hover {
    background-color: #f0f0f0;
}