/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --font1: 'Roboto', sans-serif;
  --font2: 'Bebas Neue', cursive;
  --font3: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font3);
}
.navigation {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.logo img {
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
}

.search-bar input {
  padding: 5px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid rgb(189, 189, 189);
}

.menu {
  flex: 1 1;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.logo {
  flex: 1 1;
  text-align: center;
}

.logo img {
  height: 50px;
}

.user-profile {
  flex: 1 1;
  text-align: right;
}
.user-profile ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 330px;
}
.user-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1;
}

.user-profile img {
  height: 25px;
  cursor: pointer;
}
.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid rgb(206, 206, 206);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.footer-section {
  flex: 1 1;
  padding: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: rgb(145, 145, 145);
}

.footer-section ul {
  margin-top: 10px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section.logo img {
  height: 50px;
  margin-top: 10px;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  color: #868686;
  font-size: 10px;
}
.homepage {
  font-family: Arial, sans-serif;
}

.hero-section {
  background: url('/path/to/hero-image.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 0px 20px;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 24px;
  margin-bottom: 40px;
}

.order-now-btn {
  position: absolute;
  bottom: 150px;
  left: 19.5%;
  transform: translateX(-50%);
  background-color: #ffcc00;
  color: #ffffff;
  padding: 20px 100px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.order-now-btn:hover {
  background-color: #ff9900;
}

.features-section {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.feature {
  text-align: center;
  max-width: 300px;
  transition: transform 0.2s;
  cursor: pointer;
}

.feature img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.feature:hover {
  transform: scale(1.05);
}
.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.feature.two {
  margin-top: 40px;
}
.feature.three {
  margin-top: 30px;
}
.feature p {
  font-size: 16px;
  color: #666;
}
.order-page {
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item img {
  width: 80%;
  height: 120px;
  object-fit:contain;
}

.grid-item div {
  margin: 10px 0;
  font-size: 14px;
  color: #5a5a5a;
}
.banner-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.banner-title {
  position: absolute;
  bottom: 270px;
  left: 10%;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 5rem;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: var(--font2);
}

.banner-info {
  position: absolute;
  bottom: 220px;
  left: 10%;
  font-size: 18px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}
.product-detail {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 10px;
  width: 100%;
  object-fit: contain;
}
.product-info {
  flex: 1 1;
  padding-right: 20px;
  margin-left: 90px;
  font-size: 23px;
}

.product-image {
  flex: 1 1;
  text-align: right;
  margin-right: 90px;
}
.product-image img {
  align-self: flex-end;
  width: 80%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}
.nutrition div, .allergens div {
  font-size: 18px;
}
.nutrition ul, .allergens ul {
  font-size: 16px;
  list-style: none;
}
.order-main {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  width: 100%;
}
.order-left-column {
  height: 100vh;
  background-color:rgb(255, 255, 255);
  border-right: 2px solid rgb(225, 225, 225);
  margin-right: 10px;
}
.order-right-column {
  background-color:rgb(255, 255, 255);
  height: 100vh;
}
.category-order-main {
  display: flex;
  flex-direction: column; 
}

.category-order-item {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  cursor: pointer;
  transition: transform 0.2s;
}
.category-order-item:hover {
  transform: scale(1.05);
}
.category-order-item img {
  width: 50%;
  height: 90px;
  object-fit: contain;
}
.category-order-item div {
  margin-left: 20px;
  margin-top: 30px;
}
.cart {
  flex: 0 1;
}
.cart img {
  width: 30px;
  height: 30px;
}
.main-order {
  margin-left: 10px;
}
.cart-products {
  position: absolute;
  right: 10px;
  top: 80px;
  width: 400px;
  min-height: 200px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.final-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  min-height: 400px;
}

.modal-content img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}
.modal-content button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-content button:hover {
  background-color: #ff9900;
}
.close-button {
  position: absolute;
  right: 570px;
  height: 0px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.x img {
  height: 15px;
  width: 15px;
}
.ingredients {
  margin-top: 20px;
  text-align: left;
}

.ingredient-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ingredient-key {
  font-weight: bold;
}

.ingredient-value {
  margin-right: 60px;
}
